[Unit]
Description=rhp Battery Monitor Timer
# Old: omarchy-battery-monitor.service
Requires=rhp-battery-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30sec
AccuracySec=10sec

[Install]
WantedBy=timers.target